$Recycle.Bin
/site-lisp
/recentf
/places
/loaddefs.el
/company-statistics-cache.el
/.persistent-scratch
/elfeed
/elpa
/image-dired
/nrepl-history
/semanticdb
/server
/private
/url
/srecode-map.el
/smex-items
/network-security.data
/history
/.org-id-locations
/bookmarks
/init-util.el
/init.el
/eshell
**/Thumbs.db
